@media (max-width: 1128px) {

    main {
        margin: 20px 2%;
        width: 96%;
        float: left;
    }
    
    main .application{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 20px;
        padding: 10px;
        background: rgb(255,247,255);
        background: radial-gradient(circle, rgba(255,247,255,1) 7%, rgba(255,255,255,1) 68%);
        border-radius: 15px;
        border: solid #fcf4ff;
        cursor: pointer;
        transition: transform .3s;
        height: 120px;
    }
    
    main .application:hover {
        transform: scale(1.03)
    }
    
    
    main .app-icon {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(-10%, -50%) scale(2.0);
        color: #424242;
    }
    
    
    main .application .company_name,
    main .application .job_title,
    main .application .status,
    main .application .attractiveness_scale {
        position: absolute;
        font-size: 12px;
    }
    
    
    main .application .company_name {
        top: 20%;
        left: 25%;
    }
    
    main .application .job_title {
        top: 60%;
        left: 25%;
    }
    
    main .application .status {
        top: 20%;
        left: 60%;
    }
    
    main .application .attractiveness_scale {
        top: 60%;
        left: 60%;
    }
    
    
    main .application .company_name p,
    main .application .job_title p,
    main .application .status p,
    main .application .attractiveness_scale p {
        font-size: 10px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    main .application .status p {
        margin-bottom: 3px;
    }
    
    main .application .status .status_body {
        font-size: 12px;
        padding: 5px;
        width: 110px;
        border-radius: 6px;
    }
    
    main .application .status .status_body {
        background-color: #F2005D
    }
    
    main .application .attractiveness_scale .star {
        color: #FFBF00;
        font-size: 19px;
    }
    
}
