@media (min-width: 1128px) {

    main {
        margin: 50px 23%;
        width: 54%;
        float: left;
    }

    main .application {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 20px;
        padding: 10px;
        /* background: rgb(248, 247, 255); */
        /* background: radial-gradient(circle, rgba(255, 247, 255, 1) 7%, rgba(255, 255, 255, 1) 68%); */
        background: radial-gradient(circle, rgba(247,247,255,1) 7%, rgba(255,255,255,1) 68%);
        border-radius: 15px;
        border: solid #f5f4ff;
        transition: transform .3s;
        height: 120px;
        color: #222;
    }

    main .application:hover {
        transform: scale(1.03)
    }


    main .app-icon {
        position: absolute;
        width: 18px;
        height: auto;
        top: 50%;
        left: 10%;
        transform: translate(-10%, -50%) scale(2.5);
        color: #424242;
    }


    main .application .company_name,
    main .application .job_title,
    main .application .status,
    main .application .attractiveness_scale {
        position: absolute;
        font-size: 12px;
        top: 35%;
    }


    main .application .company_name {
        left: 20%;
    }

    main .application .job_title {
        left: 39%;
    }

    main .application .status {
        left: 58%;
    }

    main .application .attractiveness_scale {
        left: 80%;
    }


    main .application .company_name .element_header,
    main .application .job_title .element_header,
    main .application .status .element_header,
    main .application .attractiveness_scale .element_header {
        font-size: 10px;
        font-weight: bold;
        margin-bottom: 3px;
        color: #000000;
    }

    main .application .company_name .element_text,
    main .application .job_title .element_text {
        font-size: 15px;
    }

    main .application .status .status_body {
        font-size: 11px;
        font-weight: bold;
        padding: 3px;
        width: 110px;
        border-radius: 6px;
    }

    main .application .attractiveness_scale .star {
        color: #FFBF00;
        font-size: 19px;
    }

    .custom-datepicker .ant-picker-clear {
        display: none;
      }

    /* Add this CSS to your project's stylesheet */
    .timeline-row {
        display: flex;
        align-items: center; /* Vertically center items */
        margin-bottom: 10px; /* Add margin between rows */
      }
      
      .timeline-name {
        flex: 1; /* Allow the name to take up equal space */
        margin-right: 10px; /* Add spacing between name and date */
      }
      
      .custom-datepicker {
        flex: 1; /* Allow the date picker to take up equal space */
        height: 40px; /* Adjust the height as needed */
      }

}