@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:ital,wght@0,600;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

@media (min-width: 1128px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid #fcf4ff;
        color: #AC00E1;
        padding: 15px 20px;
        font-family: 'Abril Fatface', cursive;
        background: radial-gradient(circle, rgba(255,247,255,1) 7%, rgba(255,255,255,1) 68%);
    }
    
    .header .logo {
        font-size: 20px;
        padding-left: 15%;
        text-decoration: none;
        color: #AC00E1;

    }

    .options {
        display: flex;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        padding-right: 15%;
    }

    .option {
        margin-left: 20px;
        cursor: pointer;
    }

    .logout_icon {
        margin-left: 5px;
        font-size: 15px;
    }

    body {
        background-color: #fff;
        color: #222;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
    }

    footer {
        text-align: center;
        margin-top: 100px;
    }
}

