@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:ital,wght@0,600;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid #ff55eb;
    color: #ff55eb;
    padding: 15px 20px;
    font-family: 'Abril Fatface', cursive;
}
  
.logo {
    font-size: 20px;
    font-weight: bold;
    padding-left: 15%;
}

.options {
    display: flex;
    font-size: 15px;
    padding-right: 15%;
}

.option {
    margin-left: 20px;
    cursor: pointer;
}

body {
    background-color: #fff;
    color: #222;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

main {
    margin: 50px 25%;
    width: 50%;
    float: left;
}



footer {
    text-align: center;
    margin-top: 100px;
}

